{% extends "base/base.html" %}
{% load static %}
{% block booking_no %} Booking list {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>



<div class="main">
<h2>last entries</h2>
</div>


<!--    <a href="{% url 'order:create_order' %}">-->
<!--        Create-->
<!--    </a>-->
    <div>



        <table class="list">
            <tr class="head">
                <th class="header">booking</th>
                <th class="header"> cont. type</th>
                <th class="header">amount</th>
                <th class="header">pick up date</th>
            </tr>
            {% for object in object_list|dictsort:"id" reversed %}
            <tr class="tablerow">
                    <th>
                            <a href="{{ object.get_absolute_url }}">
                              <div class="btn">
                                        {{ object.booking_no  }}
                              </div>
                            </a>
                    </th>
                <th>
                        <a href="{{ object.get_absolute_url }}">
                         <div class="btn">
                              {{ object.container  }}
                          </div>
                        </a>

                </th>
                <th>

                        <a href="{{ object.get_absolute_url }}">
                            <div class="btn">
                                 {{ object.amount  }}
                            </div>
                        </a>

                </th>
                <th>

                        <a href="{{ object.get_absolute_url }}">
                            <div class="btn">
                                 {{ object.date  }}
                            </div>
                        </a>

                </th>


            </tr>
                 {% endfor %}
         </table>

    </div>
<div class="disclaimer">
    To create, update or search container pick up orders go to menu on left side.</br>
    You need to have booking number to create valid pick up order!</br>
</div>

{% endblock %}

<!--{% if latest_order_list %}-->
<!--    <ul>-->
<!--    {% for containertype in latest_order_list %}-->
<!--        <li>-->
<!--            <a href="/order/{{ containertype.id }}/">{{ containertype }}</a>-->
<!--            <a href="/order/{{ containertype.id }}/">{{ containertype.container_grade}}</a>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--{% else %}-->
<!--    <p>No orders are available.</p>-->
<!--{% endif %}-->

</html>